<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.js"></script>
    <script src="app.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">


    <style>
        body {

            font-family: 'Poppins', sans-serif !important;

        }
    </style>
    <title>Maritime Commerce and Whale Risks Collective App</title>


</head>

<body>
    <div id="app">
        <v-app>

            <v-app-bar color="#4E8D9C">
                <v-app-bar-nav-icon @click="toggleDrawer"></v-app-bar-nav-icon>
                <v-app-bar-title class="text-center">
                    Maritime Commerce and Whale Risks Collective App
                </v-app-bar-title>
            </v-app-bar>

            <v-navigation-drawer v-model="openDrawer" color="#4E8D9C">
                <v-list density="compact">
                    <template v-for="(module, index) in modules" :key="index">
                        <v-list-item :href="module.url">
                            {{module.title}}
                        </v-list-item>
                        <v-divider></v-divider>
                    </template>
                </v-list>
            </v-navigation-drawer>


            <v-main style="background: #281C59">



                <v-container fluid>
                    <!-- left side carrousel -->
                    <v-sheet color="#EDF7BD" class="pa-4 pa-md-6">
                        <v-row>
                            <v-col cols="12" md="7">
                                <v-carousel cycle interval="3000" hide-delimiter-background show-arrows="hover">
                                    <v-carousel-item class="pa-10" v-for="module in modules" :key="module.title"
                                        :src="module.image"></v-carousel-item>
                                </v-carousel>
                                <!-- Project and Brief Modules description  -->
                            </v-col>

                            <v-col cols="12" md="5">
                                <v-card color="#281C59">
                                    <v-stepper :items="['About', 'Modules']" bg-color="transparent" flat>

                                        <template v-slot:item.1>
                                            <v-card-title class="text-center pt-4">About the App</v-card-title>
                                            <v-card-text class="text-body-1">
                                                This collective app investigates the complex intersection of Global
                                                Maritime Commerce and Whale Risks. By weaving together shipping data,
                                                interactive case studies, and a comparative study of
                                                Western and Indigenous Ecological Knowledge, this platform offers a
                                                multifaceted view of ocean conservation.
                                            </v-card-text>

                                            <v-card-title> Instructions: </v-card-title>


                                            <v-card-text class="text-body-1">
                                                <ul>

                                                    <li>Use the "Next" button below to browse each module, or</li>
                                                    
                                                    <li>Jump directly to a specific topic using the menu in the top-left
                                                        corner</li>
                                                </ul>

                                            </v-card-text>
                                            <v-card-text class="text-caption text-center text-grey-lighten-1">
                                                Click "Next" to view the 7 project modules.
                                            </v-card-text>
                                        </template>

                                        <template v-slot:item.2>
                                            <v-card-title class="text-center pt-4">Project Modules</v-card-title>


                                            <v-card-text class="py-2">
                                                <strong>Ocean Route Explorer:</strong> Introduces the relationship
                                                between global shipping routes and whale migration patterns.
                                            </v-card-text>
                                            <v-divider class="mx-4"></v-divider>

                                            <v-card-text class="py-2">
                                                <strong>Temporal Tides:</strong> A card-matching game exploring
                                                overlapping human and ecological timelines.
                                            </v-card-text>
                                            <v-divider class="mx-4"></v-divider>

                                            <v-card-text class="py-2">
                                                <strong>Ocean Commotion:</strong> Interactive simulation of maritime
                                                noise and traffic.
                                            </v-card-text>
                                            <v-divider class="mx-4"></v-divider>

                                            <v-card-text class="py-2">
                                                <strong>Jeopardy: Whale Health:</strong> A game confronting the
                                                dehumanization of humans and humanization of whales.
                                            </v-card-text>
                                            <v-divider class="mx-4"></v-divider>

                                            <v-card-text class="py-2">
                                                <strong>Reducing whale harm
                                                    through traditional shipping practices:</strong> This module
                                                considers the unique sense of care and connection within Indigenous
                                                perspectives to marine stewardship
                                            </v-card-text>
                                            <v-divider class="mx-4"></v-divider>

                                            <v-card-text class="py-2">
                                                <strong>Relationships between
                                                    Traditional and Western Ecological Knowledge:</strong> Interactive
                                                cards that
                                                examine various case studies from a Traditional Ecological Knowledge
                                                perspective.
                                            </v-card-text>
                                            <v-divider class="mx-4"></v-divider>

                                            <v-card-text class="py-2">
                                                <strong>Whale Anatomy, Maritime threats and Traditional
                                                    Ecological Knowledge:</strong> An interactive map of the whale
                                                anatomy in connection to practices, and beliefs of Indigenous peoples.
                                            </v-card-text>
                                        </template>

                                    </v-stepper>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-sheet>
                </v-container>
            </v-main>

            <v-footer app color="#4E8D9C" class="d-flex">
                <v-sheet color="transparent" class="ma-auto"> Created by ARTSSCI3C03 students, Winter 2026.</v-sheet>
            </v-footer>

        </v-app>
    </div>
</body>

</html>