<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.js"></script>
    <script src="app.js" defer></script>
    <title> Relationship Between Indigenous Knowledge, Whale Protection, and Maritime Commerce</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <style> 
        body {font-family: 'Poppins', sans-serif !important;} 

        .references p {
            margin-bottom: 14px;
            padding-left: 24px;
            text-indent: -24px;
            line-height: 1.5;
        }
    </style> 
</head>

<body>
    <div id="app">

        <v-app>

            <v-navigation-drawer v-model="navDrawerOpen" temporary color="#4E8D9C">

                <v-list>

                    <v-list-item
                        title="Home"
                        href="#"
                    ></v-list-item>

                    <v-divider></v-divider>

                    <v-list-subheader class="text-white">Modules</v-list-subheader>

                    <v-list-item
                        title="Relationships Between Traditional and Western Ecological Knowledge in Whale Protection Practices"
                        href="https://alipanju12.github.io/Relationships-Between-Western-and-TEK-respect-to-Whales/"
                    ></v-list-item>

                    <v-list-item
                        title="Ocean Route Explorer"
                        href="https://ameliag116.github.io/Ocean-Route-Explorer/ "
                    ></v-list-item>

                    <v-list-item
                        title="Temporal Tides"
                        href="https://nkkkkkkkkkkk.github.io/Temporal-Tides/ "
                    ></v-list-item>
                    
                    <v-list-item
                        title="Ocean Commotion"
                        href="https://madsb04.github.io/Ocean-Commotion-/"
                    ></v-list-item>

                    <v-list-item
                        title="Jeopardy: Whale Health!"
                        href="https://roco100.github.io/3C03-Assignment/"
                    ></v-list-item>

                    <v-list-item
                        title="Indigenous Perspectives in Reducing Whale Harm in Shipping Practices"
                        href="https://genevawhite.github.io/genevacoding/"
                    ></v-list-item>

                    <v-list-item
                        title="Whale Anatomy, Maritime Threats, and Traditional Ecological Knowledge"
                        href="https://safiya-fs.github.io/Whale-Anatomy-Module/"
                    ></v-list-item>

                </v-list>

            </v-navigation-drawer>

            <!-- App bar: title and 'About this module'-->
            <v-app-bar color="#4E8D9C">

                <v-app-bar-nav-icon @click="openNavDrawer">
                </v-app-bar-nav-icon>

                <v-app-bar-title class="text-center">
                    Relationship Between Indigenous Knowledge, Whale Protection, and Maritime Commerce
                </v-app-bar-title>

                <!--'About this module' button that explains the concept and function of the module. Clicking it sets 'showHelp' to true-->
                <!-- Doing so makes the dialog appear -->
                <v-btn icon @click="showHelp = true">
                    <v-icon>mdi-help-circle-outline</v-icon>
                </v-btn>

            </v-app-bar>

            <!-- Main content of the module -->
            <v-main @click="findCoordinates" style="background-color: white;">
                <v-container fluid style="background-color: white;">

                    <!-- Vuetify loop to generate the cards. Each object in the 'cards' array is defined locally as a 'card' -->
                    <!-- For each card, the colour of the border/text and position are set, and the cards' unique titles and descriptions are added. -->

                    <v-sheet v-for="(card, index) in cards" :key="card.title">

                        <v-card v-if="card.unlocked" width="30%" height="60%"
                            class="pa-2 d-flex flex-column"
                            style="position: absolute; background-color: #281C59; border: 4px solid #4E8D9C;" :style="{left: card.x, top: card.y, zIndex: card.z}">

                            <v-img :src="card.image" height="50%" cover>
                            </v-img>

                            <v-card-title class="bg-white text-center">
                                {{card.title}}
                            </v-card-title>

                            <!-- 'Learn More' button which uses 'toggleOpenClose' to set the card you click as the activeCard. -->
                            <!-- This allows the card's unique details to be shown -->
                            <!-- <div class="d-flex justify-center mt-4 bg-transparent"> -->
                            <v-card-actions class="bg-white">

                                <v-btn class="mx-auto" style="background-color: #85C79A; color: #281C59;" @click="toggleOpenCloseCard(card)">
                                    Learn More
                                </v-btn>

                            </v-card-actions>

                            <v-card-text class="bg-white text-center" style="height: 120px; overflow: hidden;">
                                {{card.description}}
                            </v-card-text>
                        </v-card>

                        <!-- This card is the locked card -->
                        <v-card v-else width="30%" height="60%"
                            class="pa-2 d-flex flex-column"
                            style="position: absolute; background-color: #281C59; border: 4px solid #4E8D9C;" :style="{left: card.x, top: card.y, zIndex: card.z}">

                            <v-icon class="ma-auto text-green-lighten-2" icon="mdi-help" size="300"></v-icon>
                        </v-card>

                        <!-- Dialog for the cards in the deck -->
                        <!-- This is where the 'details' or the summary/analysis of our chosen texts can be read. -->
                        <!-- Collectively, the card 'details' provide different angles of the intersection of Indigenous knowledge and whale protection to the user. -->
                        <v-dialog v-model="card.showDetails">
                            <v-card class="d-flex flex-row">

                                <v-img :src="card.imageint" class="mx-auto pa-5" width="50%" cover></v-img>

                                <v-sheet>

                                    <v-card-title>
                                        {{ card.title }}
                                    </v-card-title>

                                    <v-card-text>
                                        {{ card.par1}}
                                    </v-card-text>

                                    <v-card-text>
                                        {{card.par2}}
                                    </v-card-text>

                                    <v-card-text>
                                        {{card.par3}}
                                    </v-card-text>

                                    <v-card-text>
                                        <strong>True or False:</strong> {{card.unlockQuestion}} <br>

                                        <v-btn  @click="unlockNextCard(card, index, true)">True</v-btn>
                                        <v-btn  @click="unlockNextCard(card, index, false)">False</v-btn>
                                        <v-alert
                                            v-if="card.feedback"
                                            :type="card.answeredCorrectly ? 'success' : 'error'"
                                            class="mt-3"
                                            density="compact"
                                            >
                                            {{ card.feedback }}
                                        </v-alert>

                                    </v-card-text>
                                    <!-- Button in the bottom right of the card dialog card to exit the dialog window. Clicking it sets 'showDetails' back to false. -->
                                    <v-card-actions>

                                        <v-spacer></v-spacer>

                                        <!-- <v-btn variant="text" @click="showDetails = false"> -->
                                        <v-btn variant="text" @click="toggleOpenCloseCard(card)">
                                            Close
                                        </v-btn>
                                    </v-card-actions>
                                </v-sheet>
                            </v-card>
                        </v-dialog>
                    </v-sheet>

                    <!-- Dialog for the 'About this module' button. The dialog appears when 'showHelp' is set to true. -->
                    <!-- This dialog exists to explain the concept (or theme) of our module, and how the user is meant to interact with it. -->
                    <v-dialog v-model="showHelp" width="50%">
                        <v-card>

                            <v-card-title class="text-h6">
                                Traditional Ecological Knowledge (TEK)
                            </v-card-title>

                            <v-card-text>
                                Traditional Ecological Knowledge (TEK) refers to the cumulative body of knowledge developed by Indigenous communities over hundreds of years through direct contact with their local ecosystems. It encompasses knowledge of animals, plants, natural phenomena, techniques for fishing and hunting, and a holistic knowledge analogous to the scientific discipline of ecology. While TEK is valued by Aboriginal governments for its ability to provide a baseline of information about a local environment, it remains less prioritized than Western science due to its qualitative nature and oral tradition. However, there exists a growing awareness among Western scientists of the value of TEK and increased efforts to pair it with science in environmental management. This perspective is highly relevant in marine environments, where TEK can complement scientific data and inform environmental decision-making.
                            </v-card-text>

                            <v-card-title class="text-h6">
                                About this Module
                            </v-card-title>

                            <v-card-text>
                               This module examines the relationship between Indigenous knowledge, whale protection, and maritime commerce through various case studies and research analyses. Each card either presents a real-world example or meta-analysis that highlights how Indigenous knowledge informs, challenges, or is excluded from environmental management - particularly regarding whale conservation and maritime commerce. The topics include: 
                            </v-card-text>

                            <v-card-text class="pl-12">
                                <ul>
                                    <li><strong>The Bering Strait:</strong> A strait between Russia and Alaska where increasing shipping activity risks the health of the local wildlife and Indigenous communities.</li>
                                    <li><strong>The Makah Whaling Controversy:</strong> A conflict over Indigenous whaling rights and Western preservation, rooted in the historical expansion of commercial whaling and maritime trade.</li>
                                    <li><strong>The Haida Gwaii Marine Plan:</strong> A cooperative initiative between the Council of the Haida Nation and the Province of British Columbia that demonstrates how TEK can guide the regulation of shipping and marine development.</li>
                                    <li><strong>TEK Orca Protection:</strong> A case examining the decline of Southern Resident Killer Whales, where shipping traffic, noise pollution, and reduced prey availability highlight the need to integrate TEK with scientific and policy approaches to conservation.</li>
                                    <li><strong>TEK, Beluga Whales, and Arctic Shipping:</strong> A meta-analysis demonstrating Indigenous knowledge’s contribution to our understanding of beluga whales and utility in environmental governance, despite being treated as supplementary.</li>
                                </ul>
                            </v-card-text>

                            <v-card-title class="text-h6">
                                How to Use this Module
                            </v-card-title>

                            <v-card-text>
                                Use the slider at the bottom of the screen to move between cards in the deck. Click "Learn More" to read a detailed description of the center card.
                                <br><br>
                                After clicking "Learn More", a true or false statement can be found at the bottom of the dialogue box. To unlock the next card, you must correctly identify the statement as true or false.
                            </v-card-text>

                            <v-card-title class="text-h6">
                                References
                            </v-card-title>

                            <v-card-text>
                                <div class="references">
                                
                                    <p>
                                        Biedenweg, K., Anderson, L., Chisholm Hatfield, S., Hollender, R., Kintner, L., & Trimbach, D. J. (2023).
                                        <i>Seeking consilience: Traditional ecological knowledge and western social science contributions to orca conservation knowledge</i>.
                                        <i>Journal for Nature Conservation, 72</i>, Article 126364.
                                        <a href="https://doi.org/10.1016/j.jnc.2023.126364" target="_blank">https://doi.org/10.1016/j.jnc.2023.126364</a>
                                    </p>

                                    <p>
                                        Breton-Honeyman, K., Furgal, C. M., & Hammill, M. O. (2016).
                                        <i>Systematic review and critique of the contributions of traditional ecological knowledge of beluga whales in the marine mammal literature</i>.
                                        <i>Arctic, 69</i>(1), 37–46.
                                        <a href="https://doi.org/10.14430/arctic4543" target="_blank">https://doi.org/10.14430/arctic4543</a>
                                    </p>

                                    <p>
                                        Curtis, A. (1910).
                                        <i>Makah Indians cutting up a whale on the beach, Neah Bay</i> [Photograph].
                                        University of Washington Libraries.
                                        <a href="https://digitalcollections.lib.washington.edu/digital/collection/curtis/id/964" target="_blank">Link</a>
                                    </p>

                                    <p>
                                        Durney, F. (2020).
                                        <i>Appropriate targets: Global patterns in interaction and conflict surrounding cetacean conservation and traditional marine hunting communities</i>.
                                        <i>Environment and Society, 11</i>(1), 78–101.
                                        <a href="https://doi.org/10.3167/ares.2020.110104" target="_blank">https://doi.org/10.3167/ares.2020.110104</a>
                                    </p>

                                    <p>
                                        Encyclopædia Britannica. (n.d.).
                                        <i>Bering Strait</i> [Image].
                                        <a href="https://www.britannica.com/place/Bering-Strait#/media/1/61952/282380" target="_blank">Link</a>
                                    </p>

                                    <p>
                                        Erikson, P. P. (1999).
                                        <i>A-whaling we will go: Encounters of knowledge and memory at the Makah cultural and research center</i>.
                                        <i>Cultural Anthropology, 14</i>(4), 556–583.
                                        <a href="https://www.jstor.org/stable/656545" target="_blank">Link</a>
                                    </p>

                                    <p>
                                        Gomez, C. C. (2019, April 12).
                                        <i>‘Our relatives under the water’: Lummi release salmon to ailing orcas</i>.
                                        KUOW.
                                        <a href="https://www.kuow.org/stories/lummi-ceremonial-feeding" target="_blank">Link</a>
                                    </p>

                                    <p>
                                        Hubbard, S. (n.d.).
                                        <i>Haida canoe</i> [Photograph].
                                        The Canadian Encyclopedia.
                                        <a href="https://thecanadianencyclopedia.ca/en/article/haida-native-group" target="_blank">Link</a>
                                    </p>

                                    <p>
                                        Huntington, H. P., Daniel, R., Hartsig, A., Harun, K., Heiman, M., Meehan, R., & Stetson, G. (2015).
                                        <i>Vessels, risks, and rules: Planning for safe shipping in Bering Strait</i>.
                                        <i>Marine Policy, 51</i>, 119–127.
                                        <a href="https://doi.org/10.1016/j.marpol.2014.07.027" target="_blank">https://doi.org/10.1016/j.marpol.2014.07.027</a>
                                    </p>

                                    <p>
                                        Marine Mammal Commission. (n.d.).
                                        <i>Southern resident killer whale</i>.
                                        <a href="https://www.mmc.gov/priority-topics/species-of-concern/southern-resident-killer-whale/" target="_blank">Link</a>
                                    </p>

                                    <p>
                                        Marine Planning Partnership Initiative. (2015).
                                        <i>Haida Gwaii marine plan 2015</i>.
                                        <a href="https://books-scholarsportal-info.libaccess.lib.mcmaster.ca/uri/ebooks/ebooks0/gibson_cppc/2015-09-25/1/11082275" target="_blank">Link</a>
                                    </p>

                                    <p>
                                    McGee, G., Byington, J., Bones, J., Cargill, S., Dickinson, M., Wozniak, K., & Pawluk, K. (2021).
                                        <i>Marine plan partnership for the North Pacific Coast: Engagement and communication with stakeholders and the public</i>.
                                        <i>Marine Policy, 142</i>, 104613.
                                        <a href="https://doi.org/10.1016/j.marpol.2021.104613" target="_blank">https://doi.org/10.1016/j.marpol.2021.104613</a>
                                    </p>

                                    <p>
                                    McGee, G. (2021).
                                        <i>Marine plan partnership for the North Pacific Coast</i> [Photograph].
                                        <i>Marine Policy, 142</i>, 104613.
                                        <a href="https://doi.org/10.1016/j.marpol.2021.104613" target="_blank">https://doi.org/10.1016/j.marpol.2021.104613</a>
                                    </p>

                                    <p>
                                        McKie, R. (2017, March 26).
                                        <i>Shrinking Arctic sea ice threatens the majestic beluga whale</i>.
                                        <i>The Guardian</i>.
                                    </p>

                                    <p>
                                        National Park Service. (n.d.).
                                        <i>Seasonal sea ice and Arctic migrations of the beluga whale</i>.
                                        U.S. Department of the Interior.
                                    </p>

                                    <p>
                                        Shirk, A. (2015, July 1).
                                        <i>A superhighway across the Bering Strait</i> [Photograph].
                                        <i>The Atlantic</i>.
                                        <a href="https://www.theatlantic.com/technology/archive/2015/07/superhighway-bering-strait-new-york-paris/397370/" target="_blank">Link</a>
                                    </p>

                                    <p>
                                        Sutherland, D., & Ashford, G. (2003).
                                        <i>A teacher’s guide for the video Sila Alangotok: Inuit observations on climate change</i>.
                                        Manitoba Education and Youth.
                                    </p>

                                    <p>
                                        Thompson, E. (1999, May 17).
                                        <i>Two Makah Indian whalers stand atop a gray whale</i> [Photograph].
                                        Associated Press.
                                        <a href="https://www.knkx.org/environment/2019-11-13/20-years-later-atmosphere-has-changed-around-makah-whale-hunt" target="_blank">Link</a>
                                    </p>

                                </div>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <!-- Button to close the 'About this module' card. Clicking it sets 'showHelp' back to false. -->
                                <v-btn variant="text" @click="showHelp = false">
                                    Close
                                </v-btn>

                            </v-card-actions>

                        </v-card>
                    </v-dialog>

                </v-container>
            </v-main>

            <!-- Footer for the slider. The slider allows the user to move through the deck of cards and read more about whichever they'd like by centering it. -->
            <!-- The slider's value is linked to 'frontIndex' through v-model, and clicking the slider calls 'translateCards' to update the card positions. -->
            <!-- Currently, the slider must be clicked to move the cards. We could potentially improve it so that dragging the slider moves the cards in the next stage. -->
            <v-footer style="background-color: white;;">
                <v-row justify="center" style="margin-top: 30%">
                    <v-col cols="6">
                        <v-slider v-model="frontIndex" @click="translateCards" :min="0" :max="cards.length - 1" step="1"
                            thumb-label="always"></v-slider>
                    </v-col>
                </v-row>
            </v-footer>
        </v-app>
    </div>

</body>

</html>