<!DOCTYPE html>
<!-- ensuring the document is read by the browser as an html file -->
<html lang="en">
<!-- setting the language to English -->

<head>
    <meta charset="UTF-8">
    <!-- setting the character encoding to UTF-8 to allow for the use of special characters and emojis -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- matching the screen width and ensuring a normal zoom level  -->
    <title>Document</title>
    <!-- setting the browser tab name -->
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.js"></script>
    <script src="app.js" defer></script>
    <!-- connecting this file to our custom JavaScript file (app.js); the links above load the various fonts, the Vue.js version 3, the Vuetify component logic, and the font logic -->

    <!-- custom style to animate the sparklines/routes and adding the proper font to the entire application, sparkline array is located in the js file and is also located in the next steps section of these comments -->
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
        .v-application {
            font-family: 'Poppins', sans-serif !important;
        }
        .route-overlay path {
            /* The first number is trace length and the second is the gap in-between*/
            stroke-dasharray: 5, 5 !important;
            /* stroke-width: 10px !important; */
            animation: routes 10s linear infinite !important;
        }

        @keyframes routes {
            from {
                stroke-dashoffset: 100;
            }
            to {
                stroke-dashoffset: 0;
            }
        }
    </style>
</head>

<body>
    <!-- specifying the layout and text for the visible portion of the application -->
    <div id="app">
        <v-app>

            <v-navigation-drawer v-model="openDrawer" app color="#4E8D9C">
                <!-- adding a navigation drawer using the v-navigation-drawer component to allow users to toggle between modules/pages; using v-model to connect the navigation drawer to the specific 'drawer'variable defined in the app.js file; using v-model to connect the component with the variable allows Vue to keep the two in synch by controlling the open/close state of the drawer -->
                <v-list>
                    <v-list-item 
                        v-for="item in projects" 
                        :key="item.title"
                        :href="item.url">

                        <v-list-item-title>
                            {{ item.title }}
                        </v-list-item-title>

                    </v-list-item>
                </v-list>
            </v-navigation-drawer>

            <v-app-bar app color="#4E8D9C">
                <!-- using the v-app-bar compoenent to create the app bar which holds the navigation drawer icon and module title -->

                <v-app-bar-nav-icon @click="toggleDrawer"></v-app-bar-nav-icon>
                <!-- adding a navigation icon that is connected to the drawer variable, allowing users to click the icon to open or close the side menu and access different modules/pages -->

                <v-app-bar-title class="mx-auto text-wrap text-center"> 
                    Ocean Route Explorer: An Overview of Major Shipping Channels & Their Risks to Whale Migration
                </v-app-bar-title>
                <!-- adding the module title using the v-app-bar-title component, and ensuring the title is located at the top of the page and the center of the app bar -->

            </v-app-bar>

            <v-main>
                <!-- adding the option "fluid" to make the container take up the whole horizontal space (we can still add custom margins using mx, my, if we so desire in the module integration assignment stage) -->
                <v-container fluid class="mt-5">
                    <v-expansion-panels v-model="panel">
                        <!-- creating an expansion panel below the app bar to contain a module overview and the module instructions; using v-model to connect the expansion panel with the 'panel' variable declared in the app.js file which allows Vue to control the open/closed state of the expansion panel -->

                        <v-expansion-panel>
                            
                            <v-expansion-panel-title color="#E0DBB6">
                                <!-- using the v-expansion-panel-title to denote the header slot of the expansion panel, and then assigning a specific colour to the header slot -->
                                Module Instructions & Critical Lens
                            </v-expansion-panel-title>

                            <v-expansion-panel-text color="blue-grey-lighten-1">
                                <!-- using the v-expansion-panel-text to add the content slot of the expansion panel, providing space for module instructions and additional information, and then assigning a specific colour to the context slot -->
                                <!-- the <p> denotation allows the text to be split up in paragrpahs -->
                                <p style="font-weight: bold;">Instructions:</p>
                                <p>This module introduces the relationship between global shipping routes and whale
                                migration patterns, providing users with the foundational knowledge needed to understand
                                the broader impacts of maritime commerce on whale life. The module’s interactive map
                                shows colour-coded shipping routes alongside major whale migration patterns. The various
                                popup windows include research-based information, media, and interesting facts about
                                whale-vessel interactions; many of the facts are specific to the geographical region in
                                which the popup window is located on the map. Users are encouraged to explore the map, click on the various information
                                buttons, and learn about how whale life is constantly impacted by global maritime
                                commerce.</p>
                                <br> 
                                <p style="font-weight: bold;">Critical Lens & TVC Reappropriation:</p>
                                <p>Another important consideration regarding this module is its connections to theoretical technological ideas.
                                Gaskins’ (2021) ideas of techno-vernacular creativity reappropriation (or TVC reappropriation) involve repurposing 
                                artifacts from their original context in ways that challenge dominant ways of thinking. 
                                This module applies the idea of TVC reappropriation by taking existing ship traffic maps and relocalizing 
                                them to the context of whale life and well-being. In doing so, we are not only bringing awareness to the 
                                threats whales face during migration, but also challenging the very dominant Western norms that situate human life 
                                and human consumption as superior to wildlife. Our hope is that users will reflect on their own consumption 
                                habits in light of the dangers confronting ocean habitats and, more specifically, whales.</p>
                            </v-expansion-panel-text>

                        </v-expansion-panel>

                        <v-expansion-panel>
                            <!-- creating another expanstion panel for the overview of the problem, same as above -->

                            <v-expansion-panel-title color="#E0DBB6">                   
                                Overview of the Problem
                            </v-expansion-panel-title>

                            <v-expansion-panel-text color="blue-grey-lighten-1">
                                <!-- overview expansion panel. Using the <p> and <br> for better readability again-->
                                <p style="font-weight: bold;">Shipping Channels:</p>
                                <p>This module explores five main channels that make up a majority of the worldwide shipping
                                activities. These routes include the English Channel, the Malacca Strait, the Magellan Strait, 
                                the Hormouz Strait, the Mozambique Channel, and the Panama Canal.
                                Each of these channels and waterways hosts hundreds of vessels per day and simultaneously disrupts the feeding
                                and migratory patterns of various species of whales and other ocean animals. Click on the buttons below to learn 
                                more about how these mammals are impacted along the major shipping routes.</p>
                                <br>
                                <!-- the <br> denotation inserts a break between paragraphs for better readability -->
                                <p style="font-weight: bold;">Whale-Ship Collisions:</p>
                                <p>Ship strikes are a growing global threat to whale populations. Collision risk depends 
                                not only on where whales and vessels overlap, but also on factors such as vessel size, 
                                speed, maritime contamination, noise pollution, and traffic density. Large ships 
                                traveling along major shipping routes – like cargo vessels and industrial fishing 
                                fleets – are particularly dangerous because collisions often cause severe or fatal 
                                injuries (Bedriñana-Romano, 2021). It is estimated that around 20,000 whales are killed
                                each year by vessel strikes worldwide, with large species such as blue, fin, humpback 
                                and gray whales most commonly affected (Gavigan, 2025).</p>
                                <br>
                                <p style="font-weight: bold;">Rising Conservation Concerns:</p>
                                <p>The true scale of the problem is likely much higher than reported because many
                                collisions go undocumented due to limited monitoring and whales often sinking or drifting
                                away after death. Increasing shipping activity and climate-driven changes in ocean
                                ecosystems are also altering whale migration routes as whales search for feeding and 
                                breeding areas, bringing them into closer contact with busy shipping corridors
                                (Casiker, 2018; Guzman et al., 2020). As a result of these combined pressures, 
                                six of the thirteen great whale species are now classified as endangered or vulnerable 
                                by the International Union for Conservation of Nature (IUCN): the blue whale, fin whale, 
                                sei whale, sperm whale, North Pacific gray whale, and North Atlantic right whale. 
                                Among these, the North Atlantic right whale is the most at risk and is currently 
                                listed as critically endangered. This highlights the urgent need to better understand 
                                and reduce ship-whale collision risks and mitigate harms against ocean life in order to 
                                preserve these populations (Johnson et al., 2022).</p>                        
                            </v-expansion-panel-text>

                        </v-expansion-panel>

                    </v-expansion-panels>

                    <v-row class="mt-6 my-4" align="center" justify="center">
                        <!-- using the <v-row component to add a centered row underneath the expansion panel to act as a legend for the world map; the legend will show which coloured lines represent which type of route (ie. either the shipping routes or the whale migration routes) -->

                        <v-col cols="auto" class="d-flex align-center">
                            <v-icon small color="#540818" class="mr-1">mdi-ship-wheel</v-icon>
                            <div style="width: 30px; height: 6px; background-color: #A2152E; margin-right: 8px;"></div>
                            <span>Major Global Shipping Routes</span>
                        </v-col>
                        <!-- using the <v-col component to add a column within the legend and define major global shipping routes as pink on the world map; using the ship wheel icon alongside the text for aesthetics -->

                        <v-col cols="auto" class="d-flex align-center">
                            <v-icon small color="#325D66" class="mr-1">mdi-fish</v-icon>
                            <div
                                style="width: 30px; height: 6px; background-color: #4E8D9C; margin-right: 8px;">
                            </div>
                            <span>Whale Migration Routes</span>
                        </v-col>
                        <!-- using the <v-col component to add a second column within the legend to define whale migration routes as green on the world map; using the fish icon alongside the text for aesthetics -->

                    </v-row>

                    <div style="position: relative; margin-top: 30px; width: 100%;">
                        <!-- adding another container using the <div component, and using the relative position to ensure the container is positioned appropriately; all child elements with an absolute position (ie. the popups) will be positioned relative to this div, rather than the entire page; including 30 pixels of space above the div to separate the image from the expansion panel -->
                        <v-img @click="findCoordinates" src="finalmap.png" aspect-ratio="2" class="mt-5 rounded-lg elevation-5"></v-img>
                        <!-- inputting the map-based background using the <v-img component; the placeholder image will be replaced with the finalized world map, overlayed with the shipping and whale migration routes; in future submissions, 5-10 routes for each category will be included based off available research and visual feasibility -->


                        <!-- adding in <v-icon and <v-dialog components for the buttons and popup windows of the whale migration route information points; we separated the whale and shipping routes into two separate arrays so that we could use different icons to represent each category, and to allow for more flexibility when designing the popups; the whalePoints array includes all the information and location for the whale information points; the <v-icon component includes the icon, icon's size, icon colour, and and the positioning of the icon on the map; the <v-dialog component controls the popup window which contains both a title and text; loops are used to filter through all data, since information is store in the js file in an array -->
                        <v-sheet v-for="point in whalePoints" :key="point.title">
                        <v-icon icon size="30" color="#325D66" style="position:absolute; z-index:10; cursor:pointer;"
                                :style="{top: point.top,left: point.left}"
                                @click="activateWhalePopup(point)">mdi-fish</v-icon>                      
                        
                        <v-dialog v-model="point.activeWhalePopup.value" width="80%"
                            transition="dialog-bottom-transition">
                            <v-card>
                                <v-card-title> {{ point.title }} </v-card-title>
                                <v-card-text> {{ point.text }}
                                
                                <v-img v-if="point.image" :src="point.image" class="mt-5 rounded-lg elevation-5"></v-img> 

                                <div v-if="point.imageCaption" class="text-caption mt-2 mb-6">
                                    <div>{{ point.imageCaption.text }}</div>
                                    <div class="text-grey-darker-1">{{ point.imageCaption.reference}}</div>
                                </div>

                                <!-- adding the cards using a <v-row for organization and <v-col to ensure that multiple cards can be placed beside each other; the card colour, text size, and other visual components are outlined using this component and, of course, the <v-card component; a loop is used to ensure that all cards function separately; the <v-btn component allows for the close button found on the popup windows and is set to null to ensure the popup windows appear accurately -->
                                <v-row v-if="point.cards" class="mt-8" align="stretch" justify="center" dense>
                                    <v-col
                                        v-for="(card, index) in point.cards"
                                        :key="index"
                                        cols="12"
                                    >
                                        <v-card color="#4E8D9C" elevation="2" class="w-100">
                                            <v-card-text style="font-size: 18px; line-height: 1.6; font-weight: 500">
                                                {{ card.text }}
                                            </v-card-text>
                                            <v-card-text style="font-size: 12px; line-height: 1.6; font-weight: 500">
                                                {{ card.reference }}
                                            </v-card-text>

                                        </v-card>
                                    </v-col>

                                </v-row>
                            </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn @click="activateWhalePopup(point)"> Close </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        </v-sheet>

                        <!-- adding in <v-icon and <v-dialog components for the buttons and popup windows for the shipping route information points; the shipPoints array includes all the information and location for these various points; the <v-icon component includes the icon, icon's size, icon colour, and and the positioning of the icon on the map; the <v-dialog component controls the popup window which contains both a title and text -->
                        <v-sheet v-for="point in shipPoints" :key="point.title">
                            <v-icon icon size="30" color="#540818" style="position:absolute; z-index:10; cursor:pointer;"
                                :style="{top: point.top,left: point.left}"
                                @click="activateShipPopup(point)">mdi-ship-wheel</v-icon>

                            <v-dialog v-model="point.activeShipPopup.value" width="80%"
                                transition="dialog-bottom-transition">
                                <v-card>
                                    <v-card-title> {{ point.title }} </v-card-title>
                                    <v-card-text> {{ point.text }}
                                        <v-img v-if="point.image" :src="point.image"
                                            class="mt-5 rounded-lg elevation-5">
                                        </v-img>

                                        <div v-if="point.imageCaption" class="text-caption mt-2 mb-6">
                                            <div class="text-grey-darken-1">{{ point.imageCaption.text }}</div>
                                            <div class="text-grey-darken-1">{{ point.imageCaption.reference }}</div>
                                        </div>
                                        <!-- adding in a <div and <iframe to embed a YouTube video into one of the popups; however, there is a bug/issue in the code somewhere preventing the video from running properly (see the next steps section for more information about how we plan to navigate this issue) -->
                                        <div v-if="point.video" style="margin-top:20px;">
                                            <iframe width="100%" height="315" :src="point.video"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                referrerpolicy="strict-origin-when-cross-origin"
                                                allowfullscreen></iframe>
                                        </div>

                                        <!-- adding the cards using a <v-row for organization and <v-col to ensure that multiple cards created by the <v-card component can be placed beside each other; the card colour, text size, and other visual components are outlined using this component; the card includes both text and references for each shipping route, located from the shipPoints array; a loop is used to ensure that all cards function separately; the <v-btn component allows for the close button found on the popup windows and is set to null to ensure the popup windows appear accurately -->
                                        <v-row v-if="point.cards" class="mt-8" align="stretch" justify="center" dense>
                                            <v-col v-for="(card, index) in point.cards" :key="index" cols="12">
                                                <v-card color="#4E8D9C" elevation="2" class="w-100">
                                                    <v-card-text
                                                        style="font-size: 18px; line-height: 1.6; font-weight: 500">
                                                        {{ card.text }}
                                                    </v-card-text>
                                                    <v-card-text
                                                        style="font-size: 12px; line-height: 1.6; font-weight: 500">
                                                        {{ card.reference }}
                                                    </v-card-text>

                                                </v-card>
                                            </v-col>

                                        </v-row>

                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn @click="activateShipPopup(point)"> Close </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-sheet>

                    </div>

                    <!-- adding in an expansion panel at the bottom of the application for references; the reference section is divided into three components where the references for text and images, references for the data visualization component of the map, and the suggested citation for those who wish to reference this application -->
                    <v-expansion-panels class="mt-6">
                        <v-expansion-panel>
                            <v-expansion-panel-title color="#E0DBB6">
                            Data Sources
                            </v-expansion-panel-title>

                            <v-expansion-panel-text color="blue-grey-lighten-1">
                            
                            <v-card class="mt-6">
                                <v-list>

                                <div v-for="ref in references" :key="ref.section">

                                    <v-list-subheader class="text-h6">
                                    {{ ref.section }}
                                    </v-list-subheader>

                                    <v-list-item v-for="item in ref.items" :key="item.text">
                                        <v-list-item-subtitle>
                                            {{ item.text }}
                                            <span v-if="item.url">
                                            {{ item.text }}
                                            </span>
                                        </v-list-item-subtitle>
                                    </v-list-item>

                                </div>

                                </v-list>
                            </v-card>

                            </v-expansion-panel-text>
                        </v-expansion-panel>
                        </v-expansion-panels>

                </v-container>
            </v-main>
        </v-app>
    </div>

<!-- next steps -->